body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #f9f9f9;
  color: #333;
  margin: 10;
  padding: 10;
  text-align: center;
  flex-direction: column;
  display: flex;
}

form {
  max-width: 600px;
  min-width: 400px;
  margin: 30px auto;
  border-left: 5px solid #4a904a;
  border-radius: 30px 0;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
}

input {
  width: 100%;
  padding: 10px;
  margin: 10px 0 20px;
  box-sizing: border-box;
  border: 1px solid #ddd;
}

button {
  background-color: #4a904a;
  color: #fff;
  padding: 15px 25px;
  border: none;
  border-radius: 50px;
  cursor: pointer;
}
a {
  text-decoration: none;
  background-color: #357ab8;
  align-self: center;
  border-radius: 50px;
  padding: 10px 20px;
  color: #fff;
}

button:hover {
  background-color: #357ab8;
}
label {
  font-weight: bold;
}

.helptext {
  color: darkred;
  list-style-type: none;
}

ul {
  color: darkred;
}
